<li>
  <%= link_to user do %>
    <%= gravatar_for(user, size: 50) %>
    <%= user.full_name %>
  <% end %>
  <% if display_friending_form %>
    <%= render 'users/friend_form', other_user: user,
      relationship: relationship %>
  <% end %>
</li>